.container {
  background-color: var(--colour-bg);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 4.5rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.left,
.center,
.right {
  display: flex;
}

.left {
  justify-self: start;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.volume,
.navlinks {
  display: none;
}

.navlinks {
  gap: 1rem;
  align-items: center;
}

.navlink {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  font-weight: 500;
}

@media (min-width: 48rem) {
  .mobile-logo,
  .mobile-nav {
    display: none;
  }

  .volume,
  .navlinks {
    display: flex;
  }
}
