.container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: calc(var(--header-height) * 2);
  user-select: none;
  pointer-events: none;
}

.content {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1.4374;
  height: 100%;
  width: 100%;
  justify-content: center;
  container-type: inline-size;
}

.heading-wrapper {
  position: relative;
}

.heading {
  width: 100%;
  height: 100%;
}

.subheading {
  margin-top: 5%;
  font-size: 3.7cqw;
  text-align-last: justify;
}

.image {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  height: 70%;
  bottom: -5%;
  width: auto;
}

.whimsical-container {
  position: relative;
}

.whimsical-text {
  opacity: 0;
}

.whimsical-handwritten {
  position: absolute;
  left: 3%;
  top: 35%;
  transform: translateY(-50%);
  width: 100%;
}

@media (orientation: landscape) and (min-height: 45rem) {
  .container {
    height: 100dvh;
  }

  .content {
    width: auto;
    max-width: 100%;
  }
}
