@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #cee9eb;
  --purple: #976393;
  --white: #fff;
  --navy: #1a2a3e;

  --colour-bg: var(--blue);
  --colour-fg: var(--navy);
  --colour-accent: var(--purple);

  --breakpoint-mobile: 20rem;
  --breakpoint-tablet: 48rem;

  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.5rem;

  --header-height: 4.5rem;
}

[data-theme="dark"] {
  --colour-fg: var(--white);
  --colour-bg: var(--navy);

  body {
    background: var(--colour-bg);
  }
}

body {
  color: var(--colour-fg);
  background: linear-gradient(var(--colour-bg), var(--white));
  font-family: var(--font-poppins), "Arial", sans-serif;

  &::selection {
    background-color: color-mix(in srgb, var(--colour-accent) 60%, transparent);
  }
}

/* TODO: Make this reusable */
.icon {
  width: 3.5rem;
  height: 3.5rem;
}

@layer base {
  html {
    @apply cursor-default;
  }

  p,
  span,
  li,
  h1,
  h2,
  h3,
  h4,
  figcaption {
    @apply cursor-text;
  }

  a,
  a *,
  button {
    @apply cursor-pointer;
  }

  img,
  video {
    @apply pointer-events-none;
  }

  ::-webkit-scrollbar {
    @apply w-4 bg-white;
  }

  body::-webkit-scrollbar-thumb {
    @apply rounded-2xl border-4 border-solid border-white bg-purple bg-opacity-60 hover:bg-purple;
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-6xl px-6 md:px-12;
  }

  .heading {
    @apply mb-[0.75em] font-bold text-navy text-opacity-100;
  }

  .heading-xl {
    @apply heading text-5xl;
  }

  .heading-lg {
    @apply heading text-4xl;
  }

  .heading-md {
    @apply heading text-3xl;
  }

  .heading-sm {
    @apply heading text-2xl;
  }

  .heading-xs {
    @apply heading text-xl font-semibold;
  }

  .secondary-text {
    @apply text-sm text-navy text-opacity-60;
  }

  .read-more {
    @apply from-[transparent] to-white to-10% after:absolute after:bottom-0 after:right-0 after:bg-gradient-to-r after:pl-3 after:pt-1 after:content-["_...read_more"];
  }

  .read-less {
    @apply after:content-["...read_less"];
  }
}
