.container {
  min-height: 100vh;
}

.portrait {
  width: 100%;
  margin-top: 3rem;
}

.heading {
  margin-bottom: 2rem;
}

.heading-container {
  position: relative;
}

.pronouns {
  position: absolute;
  right: -1rem;
  bottom: -1.5rem;
  transform: rotate(-10deg);
}

@media (min-width: 48rem) {
  .container {
    display: flex;
    place-items: center;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 3.5rem;
    width: 100%;
  }

  .portrait {
    margin-top: 0;
    grid-column: 1;
    grid-row: 1/3;
    width: 100%;
    height: auto;
  }

  .heading {
    grid-column: 2;
    grid-row: 1;
    max-width: 60ch;
    width: 100%;
  }

  .text {
    grid-column: 2;
    grid-row: 2;
  }

  .pronouns {
    top: auto;
    right: 1.5rem;
    bottom: 0.5rem;
  }
}
